* {
	margin: 0;
	padding: 0;
	font-family: consolas;
	background-color: #232323;
}

.box {
	text-align: center;
	margin-top: 150px;
	color: #fff;
}

.logo {
	height: 240px;
}

.main {
	font-size: 46px;
	letter-spacing: 10px;
}

.links {
	font-size: 30px;
	margin-top: 30px;
	text-align: center;
	word-spacing: 15px;
}

a {
	color: #fff;
}

a:hover {
	color: #949494;
	font-size: 29px;
}